@import url('https://fonts.google.com/specimen/Oswald?query=osw');
.App {
  width: 320px;
  margin-left: 42.5%;
  margin-top: 10px;
  text-align: center;
  font-family: 'Oswald';
}
.background{
  width: 320px;
  height: 200px;
  background-image: url("./components/images/background.jpg");
  /*
  background-image: url("http://picsum.photos/320/200?random=1&blur=2");
  */
}
.title{
  margin-left: 5%;
  text-align: left;
}
.logo{
  width: 64px;
  margin-top: 68px;
  border: white 3px solid;
  border-radius: 50px;

}
@media (max-width: 980px) {
  .App{
    margin-left: 38%;
  }
}
@media (max-width: 699px) {
  .App{
    margin-left: 28%;
  }
}
@media (max-width: 480px) {
  .App{
    margin-left: 5%;
  }
}
@media (max-width: 320px) {
  .App{
    margin-top: 0;
    margin-left: 0;
  }
}
